# AI Impact on Job Market

Data Source: https://www.kaggle.com/datasets/sahilislam007/ai-impact-on-job-market-20242030

# Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set(context='notebook', style='white')

# Acquire remote data

In [3]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.13-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.13/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /opt/anaconda3/lib/python3.13/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.13/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.13/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (2025.11.12)
Downloading kagglehub-0.3.13-py3-none-any.whl (68 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.13
Note: you may need to restart the kernel to use updated packages.

In [4]:
import kagglehub
path = kagglehub.dataset_download("sahilislam007/ai-impact-on-job-market-20242030")
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/sahilislam007/ai-impact-on-job-market-20242030?dataset_version_number=1...

100%|██████████| 945k/945k [00:00<00:00, 18.1MB/s]

Extracting files...
Path to dataset files: /Users/audreystelle/.cache/kagglehub/datasets/sahilislam007/ai-impact-on-job-market-20242030/versions/1

**Data Path:** `/home/adf0ae94-1f2a-434d-89c6-bd968ad05691/.cache/kagglehub/datasets/sahilislam007/ai-impact-on-job-market-20242030/versions/1`

In [5]:
ata_path = "/home/adf0ae94-1f2a-434d-89c6-bd968ad05691/.cache/kagglehub/datasets/sahilislam007/ai-impact-on-job-market-20242030/versions/1"

In [6]:
ls {data_path}

ls: {data_path}: No such file or directory

# Read in tables

In [8]:
AI_trends = pd.read_csv("ai_job_trends_dataset.csv")
AI_trends.head()

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
0,Investment analyst,IT,Increasing,Moderate,42109.76,Master’s Degree,5,1515,6342,55.96,28.28,UK,44.63
1,"Journalist, newspaper",Manufacturing,Increasing,Moderate,132298.57,Master’s Degree,15,1243,6205,16.81,89.71,USA,66.39
2,Financial planner,Finance,Increasing,Low,143279.19,Bachelor’s Degree,4,3338,1154,91.82,72.97,Canada,41.13
3,Legal secretary,Healthcare,Increasing,High,97576.13,Associate Degree,15,7173,4060,1.89,99.94,Australia,65.76
4,Aeronautical engineer,IT,Increasing,Low,60956.63,Master’s Degree,13,5944,7396,53.76,37.65,Germany,72.57

In [9]:
AI_trends.columns

Index(['Job Title', 'Industry', 'Job Status', 'AI Impact Level',
       'Median Salary (USD)', 'Required Education',
       'Experience Required (Years)', 'Job Openings (2024)',
       'Projected Openings (2030)', 'Remote Work Ratio (%)',
       'Automation Risk (%)', 'Location', 'Gender Diversity (%)'],
      dtype='object')

This data was obtained from a Kaggle dataset from user SahilIslam007. It can be downloaded from https://www.kaggle.com/datasets/sahilislam007/ai-impact-on-job-market-20242030/data

According to the user, "This is a synthetic dataset generated using realistic modeling, public job data patterns (U.S. BLS, OECD, McKinsey, WEF reports), and AI simulation to reflect plausible scenarios from 2024 to 2030. Ideal for educational, research, and AI project purposes."

# Describing Data Features

In [10]:
print(f"The number of rows and columns, respectively, in the dataset is {AI_trends.shape}.")

The number of rows and columns, respectively, in the dataset is (30000, 13).

In [11]:
COLS = pd.DataFrame({
    "Column Name": AI_trends.columns,
    "Data Type": [AI_trends[col].dtype for col in AI_trends.columns],
    "First 3 Possible Values": [AI_trends[col].unique()[:3] for col in AI_trends.columns],
    "# of Unique Values": [AI_trends[col].nunique() for col in AI_trends.columns]
})
COLS

,Column Name,Data Type,First 3 Possible Values,# of Unique Values
0,Job Title,object,"[Investment analyst, Journalist, newspaper, Fi...",639
1,Industry,object,"[IT, Manufacturing, Finance]",8
2,Job Status,object,"[Increasing, Decreasing]",2
3,AI Impact Level,object,"[Moderate, Low, High]",3
4,Median Salary (USD),float64,"[42109.76, 132298.57, 143279.19]",29968
5,Required Education,object,"[Master’s Degree, Bachelor’s Degree, Associate...",5
6,Experience Required (Years),int64,"[5, 15, 4]",21
7,Job Openings (2024),int64,"[1515, 1243, 3338]",9439
8,Projected Openings (2030),int64,"[6342, 6205, 1154]",9410
9,Remote Work Ratio (%),float64,"[55.96, 16.81, 91.82]",9466
10,Automation Risk (%),float64,"[28.28, 89.71, 72.97]",9519
11,Location,object,"[UK, USA, Canada]",8
12,Gender Diversity (%),float64,"[44.63, 66.39, 41.13]",5965

Exploring the Numeric Columns:

In [12]:
numeric_cols = COLS[COLS['Data Type'] != 'object']['Column Name']

num_COLS = pd.DataFrame({
    "Column Name": numeric_cols,
    "Minimum Value": [AI_trends[col].min() for col in numeric_cols],
    "Maximum Value": [AI_trends[col].max() for col in numeric_cols],
    "Mean Value": [AI_trends[col].mean() for col in numeric_cols],
    "Median Value": [AI_trends[col].median() for col in numeric_cols]
})

num_COLS

,Column Name,Minimum Value,Maximum Value,Mean Value,Median Value
4,Median Salary (USD),30001.86,149998.50,90119.965639,90274.115
6,Experience Required (Years),0.00,20.00,10.051433,10.000
7,Job Openings (2024),100.00,10000.00,5039.640833,5034.000
8,Projected Openings (2030),100.00,10000.00,5074.218100,5106.500
9,Remote Work Ratio (%),0.00,100.00,49.836431,49.570
10,Automation Risk (%),0.00,99.99,50.154229,50.020
12,Gender Diversity (%),20.00,80.00,49.979660,49.885